doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    title= title
    meta(name='description', content='')
    <!-- Material Design fonts -->
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700')
    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')

    // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    <!--[if lt IE 9]>
    script(src='https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js')
    script(src='https://oss.maxcdn.com/respond/1.4.2/respond.min.js')
    <![endif]-->

    link(rel='stylesheet', href='/build/bundle.css')
  body
    #app
    spinner(style={display: 'none'})
    script(src='/build/bundle.js')
    script(src='/javascripts/script.js')
